**/*.iml
**/.ivy
**/.classpath
**/.project
**/.sass-cache
**/.settings
**/*.log
**/*.venv
**/*__pycache__
**/bin
**/build
**/build_gradle
**/dist
**/node_modules
**/node_modules_cache
**/test-coverage
**/tmp
**/.web_bundle_build
.gradle
.idea